@model IEnumerable<ProductDto>

<br/>
<br/>
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Product List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="Create" class="btn btn-outline-primary"><i class="fas fa-plus"></i> Create new product</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>Name</th>
        <th>Category name</th>
        <th>Price</th>
        <th></th>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.CategoryName</td>
                <td>@product.Price.ToString("c")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Edit</a>
                    <a asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>